<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 3 Basics</title>
  <style>
      .box {
        background-color: purple;
        height: 200px;
        width: 200px;
      }

      .box.two {
        background-color: red;
      }

      .box.three {
        background-color: rgb(0, 17, 255);
      }

      [v-cloak] {
        display: none;
      }

      input {
          margin: 10px;
          display: block;
      }

  </style>
</head>
<body>
  <!-- USING 'v-cloak' TO HIDE ANY RENDERING ON THE USER SIDE -->
  <div id="app" v-cloak>

<login-form />

<!-- VUE JS DIRECTIVE - Two way data modeling using the 'v-model'-->
<!-- LISTENING FOR A KEYUP ON THE ENTER KEY -->
      <input @keyup.enter="greet(greeting + '!!!!!')" v-model ="greeting"/>


      <hr />
<!-- USING '@click' FOR A CLICK EVENT  -->
<!-- listening for a clicking event, this will toggle the box to show and disappear -->
      <button @click ="toggleBox" >Toggle Box</button>
<!-- USING THE 'v-if' directive - if truthy this will show on the page, if false it will not -->
<!-- EXACTLY LIKE AN IF/ELSE STATEMENT -->
      <div v-if="isVisible" class="box"></div>
      <!-- <div v-else-if="isVisible2" class="box two"></div>
      <div v-else class="box three"></div>  -->

  </div>
  
  <script src="https://unpkg.com/vue@next"></script>
  <script>
     let app = Vue.createApp({
          data: function() {
            return {
              greeting: 'Hello Vue 3!',
              isVisible: false,
              // isVisible2: false
            }
          },
        // METHODS IS AN OBJECT OF FUNCTIONS
          methods: {
              toggleBox() {
                this.isVisible = !this.isVisible
              },
              greet(greeting) {
                console.log(greeting)
              }

          }

     })
     app.component('login-form', {
          template: `
            <form @submit.prevent="handleSubmit">
                <h1>{{ title }}</h1>
                <input type="email" v-model="email" />
                <input type="password" v-model="password" />
                <button> Log in </button>
            </form>
          `,
          data() {
            return {
              title:'Login Form',
              email: "",
              password: ""
            }
          },

          methods: {
              handleSubmit() {
                console.log(this.email, this.password)
              }
          }
     }) 

     app.mount('#app')
  </script>
</body>
</html>